version: '3.9'

services:
  app:
    container_name: app-server
    image: nextcloud:fpm
    restart: always
    env_file:
      - ./.env
    depends_on:
      - db
    expose:
      - '80'
      - '9000'
    volumes:
      - app_data:/var/www/html

  db:
    container_name: db-server
    image: postgres
    restart: always
    env_file:
      - ./.env
    expose: 
      - 5432:5432
    volumes:
      - ./.docker/db-scripts:/docker-entrypoint-initdb.d:ro
      - db_data:/var/lib/postgresql/data

  onlyoffice-document-server:
    container_name: onlyoffice-document-server
    image: onlyoffice/documentserver:latest
    restart: always
    environment:
      - JWT_ENABLED=false
    depends_on:
      - app
      - db
      - nginx
    expose:
      - '80'
      - '443'
    volumes:
      - document_data:/var/www/onlyoffice/Data
      - document_log:/var/log/onlyoffice

  nginx:
    container_name: nginx-server
    image: nginx
    restart: always
    depends_on:
      - app
      - db
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./.docker/nginx.conf:/etc/nginx/nginx.conf:ro
      - app_data:/var/www/html

volumes:
  app_data:
  db_data:
  document_data:
  document_log:
